
<a name="calendario_ingreso"></a>
<h3 class="center">Cronograma del Curso de Ingreso</h3>
<table class="tabla_ingreso" border=1>
	<tr class="cabecera">
		<td>ASIGNATURA</td>
		<td>GRUPO</td>
		<td>HORARIO</td>
		<td>LUNES</td>
		<td>MARTES</td>
		<td>MIÉRCOLES</td>
		<td>JUEVES</td>
		<td>VIERNES</td>
	</tr>
	<tr>
		<td rowspan=2>MATEMÁTICA</td>
		<td>Grupo 1</td>
		<td>14-16</td>
		<td>A2</td>
		<td>A4</td>
		<td>A3</td>
		<td>A2</td>
		<td>A2</td>
	</tr>
	<tr>
		<td>Grupo 2</td>
		<td>14-16</td>
		<td>Sala de Proyecciones</td>
		<td>A3</td>
		<td>A4</td>
		<td>A3</td>
		<td>A3</td>
	</tr>
	<tr>
		<td rowspan=2>FÍSICA</td>
		<td>Grupo 1</td>
		<td>16-18</td>
		<td>A2</td>
		<td>A4</td>
		<td>A3</td>
		<td>A2</td>
		<td>A2</td>
	</tr>
	<tr>
		<td>Grupo 2</td>
		<td>16-18</td>
		<td>Sala de Proyecciones</td>
		<td>A3</td>
		<td>A4</td>
		<td>A3</td>
		<td>A3</td>
	</tr>
</table>
<br>
<h3 class="center">Evaluaciones</h3>
<table class="tabla_ingreso" border=1>
	<tr class='cabecera'>
		<td>EVALUACIÓN</td>
		<td>FECHA</td>
		<td>HORA</td>
		<td>GRUPO 1</td>
		<td>GRUPO 2</td>
		
	</tr>
	<tr>
		<td>Matemática</td>
		<td>Miércoles 05/04/2017</td>
		<td>14-16</td>
		<td>Aula A3</td>
		<td>Aula A4</td>
	</tr>
	<tr>
		<td>Física</td>
		<td>Viernes 07/04/2017</td>
		<td>14-16</td>
		<td>Aula A3</td>
		<td>Aula A4</td>
	</tr>
</table>
<br>
<h3 class="center"><b>Charlas</b></h3>
<table class="tabla_ingreso" border=1>
	<tr class='cabecera'>
		<td>CHARLA</td>
		<td>Aula A2</td>
		<td>Aula A3</td>
	</tr>
	<tr>
		<td>Miércoles 06/04/2017 16 horas.</td>
		<td>Bienestar Estudiantil</td>
		<td>Biblioteca / CEIA</td>
	</tr>
	<tr>
		<td>Viernes 07/04/2017 16 horas.</td>
		<td>Académica</td>
		<td>Alumnado</td>
	</tr>
	
	

</table>